input[type="submit"],
input[type="button"]{
    color:#08233e;
    padding:8px;
    margin: 2px;
    background-color:#ccc;
    border: 0px solid #f00;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
    display:block;
    padding: 10px 20px 10px 20px;
}
input[type="submit"]:hover,
input[type="button"]:hover{
	background: #6B9FFF;
	color:#fff;
}
input[type="submit"].hidden,
input[type="button"].hidden{
        display: none;
}
input[type="text" i]:read-only,
input[type="number" i]:read-only,
input[type="datetime" i]:read-only,
textarea:read-only {
    color: #666;
}

div.status {
    margin-top: 10px;
    margin-right: 20px;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

body {
    font: 300 15px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #333;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 55px;
    font-weight: 100;
    letter-spacing: 30px;
    text-shadow: 3px 3px 5px #000;
}

nav ul {
    list-style: none;
    padding: 0 0 0 10px;
    min-width: 460px;
}

nav li {
    float: left;
    position: relative;
    height: 30px;
    border-radius: 10px 30px 0 0;
    margin-left: -10px;
    text-shadow: 1px 1px 0 #bbb;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    transition: .2s;
}

nav a {
    display: block;
    position: relative;
    width: 110px;
    height: 20px;
    padding: 6px 10px 20px 10px;
    border-radius: 8px 8px 0 0;
    background: #999;
    color: #444;
    text-align: center;
    text-decoration: none;
    transition: .2s;
}

nav li:hover {
    z-index: 0;
}

nav li.active:hover {
    z-index: 1;
}

nav li:hover a {
    background: #ccc;
    color: #000;
    text-decoration: underline;
}

nav li.active:hover a {
    background: #fff;
    color: #000;
    text-decoration: underline;
}

li.active a {
    z-index: 1;
    background: #fff;
    color: #000;
    text-shadow: none;
    font-weight: 500;
}

.content {
    position: relative;
    z-index: 0;
    clear: both;
    min-width: 420px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    background: #fff;
    display: flex;
    flex-direction: column;
}

.content p {
    margin: 20px 0;
}

#login-form {
    width: 275px;
}

.form-style-7{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
    text-shadow: none;
    letter-spacing: normal;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 25px;
	border-radius: 3px;
}

#secret-form textarea {
    height: 7em;
}
#secret-form li:first-child{
	margin-top: 20px;
}
.form-style-7 li:last-child{
	border:none;
    margin-top: -15px;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label:first-letter {
    text-transform: uppercase;
}
.modal h2:first-letter {
    text-transform: uppercase;
}
.form-style-7 li > label.required:before {
    color: red;
    content: "*";
    order: 1;
}
.form-style-7 li > label:after {
    content: ": ";
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="file"],
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="file"]:focus,
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 2px 2px 2px 6px;
	margin: 0 -9px -9px -9px;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    float: right;
}
